snippet div
	<div>
		${1}
	</div>

snippet section
	<section>
		${1}
	</section>

snippet h1
	<h1>${1}</h1>

snippet h2
	<h2>${1}</h2>

snippet h3
	<h3>${1}</h3>

snippet proptypes
	static propTypes = {
		${1}: PropTypes.${2}
	}

snippet c
	className={${1}}
