snippet inspect
	console.log('${1}', require('util').inspect(${2}, { depth: null }))

snippet path
	const path = require('path')

snippet MongoClient
	const MongoClient = require('mongodb').MongoClient

snippet fs
	const fs = require('fs')
